<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <user-list></user-list>
    </div>
    <div class="col-sm-8">
      <user-detail></user-detail>
    </div>
  </div>
</div>
