<div *ngIf="user" class="user-detail">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{user.general.avatar}}" width='128' height='128'>
    </div>
    <div class="col-sm-9">
      <h3>{{user.general.firstName}} {{user.general.lastName}}</h3>
      <p>{{user.job.company}}</p>
      <p>{{user.job.title}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5>Contacts</h5>
      <p>email: {{user.contact.email}}</p>
      <p>phone: {{user.contact.phone}}</p>
      <p>country: {{user.address.country}}</p>
      <p>city: {{user.address.city}}</p>
      <p>street: {{user.address.street}}</p>
      <p>zipCode: {{user.address.zipCode}}</p>
    </div>
  </div>
</div>
