
<div class="input-group user-filter">
  <span class="input-group-addon" id="basic-addon1">search</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"
  [value]="search" 
  (input)="search = $event.target.value" 
  >
</div>
<ul class="list-group">
  <li *ngFor="let user of users | userFilter:search" (click)="onSelect(user)" [class.active]="user === selectedUser" class="list-group-item">
    <div class='row'>
      <div class='col-sm-3'>
        <img src="{{user.general.avatar}}" width='100%' height='auto'>
      </div>
      <div class='col-sm-9'>
        <p class='name'>{{user.general.firstName}}</p>
        <p class='title'>{{user.job.title}}</p>
      </div>
    </div>
  </li>
</ul>
